<html>
  <head>
    <title>CupidForSolo</title>
    <style type = 'text/css'>
    .box{border-style:solid; width:600px; height:425px;}
    #dashbox{background:white; margin:0px; padding:15px; border-width:5px; border-color:A61458; margin:auto;}
    @import url(http://fonts.googleapis.com/earlyaccess/hanna.css);  
    .myfont {font-family: 'Hanna', sans-serif; font-size: 24px; line-height:30px;}
    </style>
  </head>
  <body bgcolor = 'F5FCF4' class = myfont>
    <center><img src = {{ url_for('static', filename = 'cupid_logo.png') }} width = 500 height = 150 alt = 'logo'></center>
    <div class = "box" id = "dashbox">
    {% if participation >= 4 %}
      <b>적극적인 남자! 그래서 끌리시는 걸까요? 하하<b><br>
    {% elif participation <= 2 %}
      <b>조용한 남자도 나름 매력이 있죠~<b><br>
    {% endif %}
    <b>혹시 대상이 강의 도주에 자주 졸거나 하진 않나요~?<b><br><br>
    <form action = "/man/q4" method = post>
      <input type = 'radio' name = drowsiness value = 1 checked><font size = 2.5 style = "line-height:20px;">&ensp;전혀 졸지 않는다.<br><br></font>
      <input type = 'radio' name = drowsiness value = 2> <font size = 2.5 style = "line-height:20px;">졸지 않는다.<br><br></font>
      <input type = 'radio' name = drowsiness value = 3> <font size = 2.5 style = "line-height:20px;">보통이다.<br><br></font>
      <input type = 'radio' name = drowsiness value = 4> <font size = 2.5 style = "line-height:20px;">조는 편이다.<br><br></font>
      <input type = 'radio' name = drowsiness value = 5> <font size = 2.5 style = "line-height:20px;">자주 졸고 있다.<br><br></font>
    <br>   
    <input type = submit value = "대답하기">
    </form>
    <au><font size = 1.5 face = '맑은고딕'><b>MADE BY 가천대 응용통계학과 KYT</b></font></au>
    </div>
  </body>       
</html>
