<html>
  <head>
    <title>CupidForSolo</title>
    <style type = 'text/css'>
    .box{border-style:solid; width:600px; height:425px;}
    #dashbox{background:white; margin:0px; padding:15px; border-width:5px; border-color:A61458; margin:auto;}
    @import url(http://fonts.googleapis.com/earlyaccess/hanna.css);  
    .myfont {font-family: 'Hanna', sans-serif; font-size: 24px; line-height:30px;}
    </style>
  </head>
  <body bgcolor = 'F5FCF4' class = myfont>
    <center><img src = {{ url_for('static', filename = 'cupid_logo.png') }} width = 500 height = 150 alt = 'logo'></center>
    <div class = "box" id = "dashbox">
    {% if exit == 1 %}
      <b>강의보다 중요한 무언가가 있어보이는걸요?<b><br>
    {% else %}
      <b>좋은 자세군요!<b><br>
    {% endif %}
    <b>그 여학생분 수업 중에 졸지는 않나요?<b><br><br>
    <form action = "/woman/q3" method = post>
      <input type = 'radio' name = drowsiness value = 1 checked><font size = 2.5 style = "line-height:20px;">&ensp;전혀 졸지 않는다<br><br></font>
      <input type = 'radio' name = drowsiness value = 2> <font size = 2.5 style = "line-height:20px;">아니다<br><br></font>
      <input type = 'radio' name = drowsiness value = 3> <font size = 2.5 style = "line-height:20px;">보통이다<br><br></font>
      <input type = 'radio' name = drowsiness value = 4> <font size = 2.5 style = "line-height:20px;">그렇다<br><br></font>
      <input type = 'radio' name = drowsiness value = 5> <font size = 2.5 style = "line-height:20px;">매우 그렇다<br><br></font>
    <br>   
    <input type = submit value = "대답하기">
    </form>
    <au><font size = 1.5 face = '맑은고딕'><b>MADE BY 가천대 응용통계학과 KYT</b></font></au>
    </div>
  </body>       
</html>
