<html>
  <head>
    <title>CupidForSolo</title>
    <style type = 'text/css'>
    .box{border-style:solid; width:600px; height:360px;}
    #dashbox{background:white; margin:0px; padding:15px; border-width:5px; border-color:A61458; margin:auto;}
    @import url(http://fonts.googleapis.com/earlyaccess/hanna.css);  
    .myfont {font-family: 'Hanna', sans-serif; font-size: 24px; line-height:30px;}
    </style>
  </head>
  <body bgcolor = 'F5FCF4' class = myfont>
    <center><img src = {{ url_for('static', filename = 'cupid_logo.png') }} width = 500 height = 150 alt = 'logo'></center>
    <div class = "box" id = "dashbox">
    {% if drowsiness <= 2 %}
      <b>집중력이 상당한가봐요! 매력적인 걸요?<b><br>
    {% elif drowsiness >= 4 %}
      <b>밤에 잠을 잘 수 없는 이유가 있는걸까요?<b><br>
    {% endif %}
    <b>계속 알아보도록 하죠. 강의 중에 핸드폰이 어떻게 놓여 있나요?<b><br><br>
    <form action = "/woman/q4" method = post>
      <input type = 'radio' name = phone value = 0 checked><font size = 2.5 style = "line-height:20px;">&ensp;화면이 위로 오게 놓여 있다.<br><br></font>
      <input type = 'radio' name = phone value = 1> <font size = 2.5 style = "line-height:20px;">화면이 아래로 가게 놓여 있다.<br><br></font>
      <input type = 'radio' name = phone value = 0> <font size = 2.5 style = "line-height:20px;">어디있는지 모르겠다.<br><br></font>
    <br>   
    <input type = submit value = "대답하기">
    </form>
    <au><font size = 1.5 face = '맑은고딕'><b>MADE BY 가천대 응용통계학과 KYT</b></font></au>
    </div>
  </body>       
</html>
